body {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
    background-color: #111;
}
#app{
	background-color: #111;
}

@font-face{
font-family: 'Proxima Nova';
src: url('../fonts/ProximaNova-Bold.ttf');
font-weight: 700;
}

@font-face{
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.ttf');
  font-weight: 600;
}

@font-face{
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.ttf');
  font-weight: 400;
}




.myheader{
	background-color: #1A1A1A;
	position: relative;
	z-index: 100;
}
.transp{
	background-color: transparent!important;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.shapka{
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 5;
}
.log-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.log-row p{
	margin-right: 10px;
}
.shapka-btn{
	margin: 0 5px;
    display: block;
    padding: 6px 20px;
    background: #2E97E6;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    transition: all .3s ease;
}
.logout{
	background-color: #262626;
	margin: 0;
	width: 100%;
	margin-bottom: 10px;
}
.logout:hover{
	background-color: #2E97E6;
}



	.header__logo{
		margin-right: 50px;
	}
	.head-link{
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		opacity: .5;
		margin-right: 30px;
		transition: all .3s ease;
	}
	.head-link:hover{
		opacity: 1;
		color: #fff;
	}
	.head-link:focus{
		color: #fff;
	}
	.router-link-exact-active{
		opacity: 1;
	}
	.avatar{
		height: 35px;
		width: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		background: #2E97E6;
		border-radius: 40px;
		cursor: pointer;
		border: none;
		margin-left: 15px;
	}
	.servers{
		border:none;
		background-color: transparent;
		color: #fff;
		opacity: .7;
		font-size: 16px;
		transition: all .3s ease;
		margin: 0 15px;
		font-weight: 600;
	}
	.servers img{
		margin-right: 10px;
	}
	.servers:hover{
		opacity: 1;
	}
	.dropdown{
		position: absolute;
		right: 15px;
		top: 0%;
		width: 190px;
		padding:15px 10px 10px 10px;
		background-color: #1A1A1A;
		border-radius:5px;
		transition: all .3s ease;
		z-index: -20;
		opacity: 0;
	}
	.dropAc{
		top: 70px;
		opacity: 1;
		z-index: 20;
	}


/*main*/

hr{
	margin: 0 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
h3{
	font-size: 24px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 150%;
}
.white-txt{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}
.banner-content .white-txt{
	max-width: 261px;
}
.fsz{
	font-size: 84px;
	line-height: 75px;
}
/*inner*/
#inner{
	padding: 150px 0;
	background: radial-gradient(50% 50% at 50% 50%, #1C1C1C 0%, #111111 78.2%);
}
h1{
	font-size: 64px;
	color: #fff;
	margin-bottom: 30px;
	font-weight: 700;
}
.big-white{
	font-size: 24px;
	font-weight: 600;
	line-height: 30px
}


/*courses*/

#otsilki{
	padding:60px 0;
}

#courses{
	padding-bottom: 40px;
}
#courses .row{
	margin: 0!important;
}
#courses .container-fluid .devider{
	border-bottom: 1px rgba(41,41,41,.3) solid;
}
.course-img{
	height: 180px;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 10px;
	background-image: url('https://nikitapugachev.com/wp-content/themes/np/assets/img/first-slider__img2-min.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
h4{
	color: #fff;
	margin-bottom: 10px;
	font-size: 16px;
	line-height:  150%;
}
.grey-txt{
	color: grey;
	font-size: 14px;

}
h2{
	font-size: 36px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 10px;
}
.subline{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-btn{
	margin: 0 5px;
    display: block;
    padding: 13px 20px;
    background: #2E97E6;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}
.course-box{
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
}
.new{
	position: absolute;
	top: 20px;
	right: 20px;
	background: #2E97E6;
	border-radius: 5px;
	color: #fff;
	padding:5px;
}
#faq{
	padding:50px 0; 
}
#faq h2{
	margin-bottom: 40px;
}

#faq .container{
	max-width: 1024px;
}
.fsz-16{
	font-size: 16px;
}
.quest{
	width: 100%;
	margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
#faq .row{
	margin: 0!important;
}
.quest:last-child{
	border-bottom:none;
}
.fsz-16{
	font-size: 18px;;
}
.w-100{
	width: 100%;
}





#coursepage{
	height: 100vh;
	position: relative;
	padding:50px 0;
}
#coursepage .container-fluid{
	display: flex;
	height: 100%;
	align-items: flex-end;
}


.center-btn{
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 125px);
	width: 250px;
	z-index: 10;
}


.small-grey{
	color: #808080;
	font-size: 14px;
}

.go-to-watch{
  position: absolute;
  height: 100%;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 
}
.go-to-watch .main-btn{
	margin-top: -120px!important;
}

.black-txt{
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	color: #262626;
}






/*footer*/



.footer{
	font-size: 14px;
	line-height: 20px;
}
.footer a,.footer__copyright{
opacity: .3;
color: #808080;
font-weight: 400;
}
.footer__social-box a:hover, .footer a:hover,.footer__copyright:hover{
opacity: 1;
}
.footer__social-box {
display: flex;
}
.footer__social-box img{
width: 20px;
height: 20px;
}
.footer__copyright{
margin-right: 30px;
}
.social-box__link{
margin-right: 30px;
}
.social-box__link--YT img{
width: 25px;
}
.footer__documents a {
margin-right: 30px;
}
.footer__documents a:nth-last-child(1) {
margin-right: 0;
}
.footer-box{
padding: 20px 0;
display: flex;
justify-content: flex-start;
align-items: center;
border-top: 1px rgba(41,41,41,.3) solid;
animation: fadeIn;
animation-duration: 1s;
}





/*login*/


#login{
	height: calc(100vh - 122px);
	padding-top: 122px;
}

#mylessons{
	min-height: calc(100vh - 122px);
	padding: 50px 0;
}
#typical{
	padding:50px 0;
	min-height: calc(100vh - 123px);
}
.benefit__item-descr{
	font-size: 16px;
	line-height: 24px;
	color: #808080;
	font-weight: 400;
	margin-top: 20px;
}
.show-more{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 19px;
	border-radius: 5px;
	width: 100%;
	background: #2E97E6;
}


.cookie-alert{
	position: fixed;
	width: 96%;
	bottom: 2%;	
	left: 2%;
	background-color: #1A1A1A;
	padding:20px;
	border-radius: 10px;
	z-index: 15;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
.cookie-alert .white-txt{
	margin-bottom: 0;
	width: 85%;
}


/*filter*/

.filter{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.filter-btn{
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	padding: 9px 20px;
	border: none;
	border-radius: 50px;
	background-color: transparent;
	transition: all .3s ease-in-out;
	cursor: pointer;
	margin: 0 5px;
}
.actFilt{
	background-color: #2E97E6;
}

/*filter*/



/*misstakes*/

#misstakes{
	padding: 200px 0;
}
.white-btn{
	font-weight: 600;
	margin-top:20px;
	color: #262626;
	font-size: 16px;
	padding: 19px 30px;
	border-radius: 50px;
	border: none;
	background-color: #fff;
	transition: all .3s ease;
}
.white-btn:hover{
	/*box-shadow: 0px 2px 29px 12px rgba(46, 151, 230, 0.33);*/
	box-shadow: 0px 2px 29px 12px rgba(255, 255, 255, 0.15);
}


.trans-btn{
	margin-top: 20px;
	color: #262626;
	font-size: 16px;
	font-weight: 600;
	padding: 19px 30px;
	border-radius: 50px;
	border: 1px solid #262626;
	transition: all .3s ease;
	background-color: transparent;
}
.trans-btn:hover{
	background-color: #262626;
	color: #fff;
}



/*lessons*/


#lessons{
	background-color: #111;
	padding-bottom: 100px;
}
.whBg{
	background-color: #fff!important;
}
.less-box{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	border-radius: 10px;
	padding:160px 30px 80px 30px;
	margin-bottom: 20px;
	position: relative;
}
.less-box:before{
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 30%);
	height: 100%;
	width: 100%;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.less-cont{
	position: relative;
	z-index: 2;
}
.less-box .show-more{
	width: inherit;
	padding:19px 30px;
	margin-top: 20px;	
}
.less-box h1{
	max-width: 60%;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 57px;
}
.less-box .white-txt{
	max-width: 45%;
}
.easy-link{
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	color: #2E97E6;
	text-decoration: none;
	padding:20px auto;
	width: 100%;
	text-align:center;
}
.easy-link:hover{
	color: #2E97E6;
}


/*questions*/

#questions {
	padding:200px 0;
}
#questions h1{
	margin-bottom: 100px;
}
.social-icon img{
	height: 35px;
	margin-bottom: 20px;
}
.social-icon{
	margin-right: 100px;
}
.social-boxes{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.social-icon h3{
	line-height: 30px;
}

/*questions*/

/*ppop*/
.croxx{
	position: absolute;
	font-size: 40px;
	color: #fff;
	height: 40px;
	width: 40px;
	top: 30px;
	right: 30px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
}
.buy-pop{
	position: fixed;
	z-index: -120;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(50% 50% at 50% 50%, #1C1C1C 0%, #111111 100%);
	opacity: 0;
	transition: all .3s ease-in-out;
}
.buyPopAc{
	z-index: 120;
	opacity: 1;
}
/*pop*/

/*magicscroll*/



#fadetitles{
		position: relative;
		height: 650vh;
	}
	.fadebox1, .fadebox2, .fadebox3, .fadebox4, .fadebox5, .fadebox6{
		width: 100%;
		height: 100vh;
		top: 0;
		padding: 20px;
		/*background-color: #1e1e1e;*/
	}
	.tit1, .tit2, .tit3, .tit4, .tit5, .tit6{
		width: 100%;
		color: #2E97E5;
		text-align: center;
		margin: 0;
		top: calc(50% - 35px);
		position: fixed;
		/*transform: translateY(200px);*/
		opacity: 1;
	}


/*magicscroll*/


/*ADAPTIIIIIIIIIV*/


@media (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	.footer-box{
	flex-direction: column-reverse;
	}
	.footer__documents{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	order: 3;
	}
	.footer__documents a {
	margin-bottom: 10px;
	}
	.footer__social-box{
	order: 1;
	}
	.footer__copyright{
	order: 2;
	margin-bottom: 10px;
	margin-right: 70px;

	}
	.footer__copyright span{
	display: block;
	margin-right: 0;
	}
}
@media (max-width: 786px) {
	#mylessons{
		height: inherit;
		padding:50px 0;
	}
}
@media (max-width: 767px) {
 
}
@media (max-width: 672px) {
	.anatation{
		text-align: center;
	}
	.filter{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.filter-btn{
		margin: 5px;
	}
	#inner{
		padding: 120px 0;
	}
	/*magicscroll*/

	.tit1, .tit2, .tit3, .tit4, .tit5, .tit6{
		font-size: 30px;
		left: 0;
	}
	/*magicscroll*/
	.social-boxes{
		flex-wrap: wrap;
		justify-content: center;
	}
	.social-icon{
		margin-right: 0;
		text-align: center;
		width: 100%;
		margin-bottom: 50px;
	}
	.social-icon img{
		height: 30px;
	}
	.less-box h1{
		font-size: 36px;
	    line-height: 40px;
	    max-width: 100%;
	}
	.less-box .white-txt{
		max-width: 100%;
	}
	.big-white{
		font-size: 18px;
	    line-height: 22px;
	}
	.outZoom1{
		opacity: 1!important;
		transform: scale(1) translateY(0)!important;
	}
}
@media (max-width: 512px) {
	.croxx{
		font-size: 25px;
		height: 25px;
		width: 25px;
		top: 35px;
		right: 25px;
	}
	.footer__documents{
	margin-top: 20px;
	}
	.footer-box{
	flex-wrap: wrap;
	padding: 0 20px 30px 0;
	align-items: flex-start;
	}
	#login{
		height: inherit;
		padding:60px 0;
	}
	.cookie-alert{
		flex-wrap: wrap;
	}
	.cookie-alert .white-txt{
		width: 100%;
		margin-bottom: 10px;
	}
	.cookie-alert button{
		margin:0;
		width: 100%;
	}
	.main-btn{
		margin: 0;
	}
	#firstScreen h1{
		font-size: 34px;
	}
	h1{
		font-weight: 600;
	    font-size: 36px;
	    line-height: 40px;
	}
	#questions h1{
		text-align: center;
	}
	#questions {
		padding: 100px 0;
	}
}
@media (max-width: 390px) {
	
}
@media (max-width: 320px) {

}








/* Remove outline on the forms and links */ 
:active, :hover, :focus { 
outline: 0!important; 
outline-offset: 0!important; 
}

button:active, button:hover, button:focus { 
outline: 0!important; 
outline-offset: 0!important; 
}


a{
	text-decoration: none!important;
}
a:hover{
	text-decoration: none!important;
}
a:focus{
	text-decoration: none!important;
}




.Password__strength-meter{
	margin: 0px auto 20px!important;
	background: #1b1b1b!important;
}
.Password__strength-meter:after, .Password__strength-meter:before{
	border-color: #121212!important;
}


input[type="text"]{
	font-size: 16px!important;
}

input[type="password"]{
	font-size: 16px!important;
}

