body {
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    position: relative;
    z-index: 1;
    background-color: #111;
}
#app{
	background-color: #111;
}

@font-face{
font-family: 'Proxima Nova';
src: url('../fonts/ProximaNova-Bold.ttf');
font-weight: 700;
}

@font-face{
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.ttf');
  font-weight: 600;
}

@font-face{
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.ttf');
  font-weight: 400;
}




.myheader{
	background-color: #1A1A1A;
	position: relative;
	z-index: 100;
}
.transp{
	background-color: transparent!important;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.shapka{
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 5;
}
.log-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.log-row p{
	margin-right: 10px;
}
.shapka-btn{
	margin: 0 5px;
    display: block;
    padding: 6px 20px;
    background: #2E97E6;
    border-radius: 5px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    transition: all .3s ease;
}
.logout{
	background-color: #262626;
	margin: 0;
	width: 100%;
	margin-bottom: 10px;
}
.logout:hover{
	background-color: #2E97E6;
}



	.header__logo{
		margin-right: 50px;
	}
	.head-link{
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		opacity: .5;
		margin-right: 30px;
		transition: all .3s ease;
	}
	.head-link:hover{
		opacity: 1;
		color: #fff;
	}
	.head-link:focus{
		color: #fff;
	}
	.router-link-exact-active{
		opacity: 1;
	}
	.avatar{
		height: 35px;
		width: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		background: #2E97E6;
		border-radius: 40px;
		cursor: pointer;
		border: none;
		margin-left: 15px;
	}
	.servers{
		border:none;
		background-color: transparent;
		color: #fff;
		opacity: .7;
		font-size: 16px;
		transition: all .3s ease;
		margin: 0 15px;
		font-weight: 600;
	}
	.servers img{
		margin-right: 10px;
	}
	.servers:hover{
		opacity: 1;
	}
	.dropdown{
		position: absolute;
		right: 15px;
		top: 0%;
		width: 190px;
		padding:10px;
		background-color: #1A1A1A;
		border-radius: 0 0 5px 5px;
		transition: all .3s ease;
		z-index: 20;
		opacity: 0;
	}
	.dropAc{
		top: 57px;
		opacity: 1;
	}


/*main*/


h3{
	font-size: 24px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 150%;
}
.white-txt{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}
.banner-content .white-txt{
	max-width: 261px;
}




/*courses*/

#otsilki{
	padding:60px 0;
}

#courses{
	padding-bottom: 40px;
}
#courses .row{
	margin: 0!important;
}
#courses .container-fluid .devider{
	border-bottom: 1px rgba(41,41,41,.3) solid;
}
.course-img{
	height: 180px;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 10px;
	background-image: url('https://nikitapugachev.com/wp-content/themes/np/assets/img/first-slider__img2-min.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
h4{
	color: #fff;
	margin-bottom: 10px;
	font-size: 16px;
	line-height:  150%;
}
.grey-txt{
	color: grey;
	font-size: 14px;

}
h2{
	font-size: 36px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 10px;
}
.subline{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-btn{
	margin: 0 5px;
    display: block;
    padding: 13px 20px;
    background: #2E97E6;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}
.course-box{
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
}
.new{
	position: absolute;
	top: 20px;
	right: 20px;
	background: #2E97E6;
	border-radius: 5px;
	color: #fff;
	padding:5px;
}
#faq{
	padding:50px 0; 
}
#faq h2{
	margin-bottom: 40px;
}

#faq .container{
	max-width: 1024px;
}
.fsz-16{
	font-size: 16px;
}
.quest{
	width: 100%;
	margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
#faq .row{
	margin: 0!important;
}
.quest:last-child{
	border-bottom:none;
}
.fsz-16{
	font-size: 18px;;
}
.w-100{
	width: 100%;
}





#coursepage{
	height: 100vh;
	position: relative;
	padding:50px 0;
}
#coursepage .container-fluid{
	display: flex;
	height: 100%;
	align-items: flex-end;
}


.center-btn{
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 125px);
	width: 250px;
	z-index: 10;
}


.small-grey{
	color: #808080;
	font-size: 14px;
}

/*footer*/



.footer{
	font-size: 14px;
	line-height: 20px;
}
.footer a,.footer__copyright{
opacity: .3;
color: #808080;
font-weight: 400;
}
.footer__social-box a:hover, .footer a:hover,.footer__copyright:hover{
opacity: 1;
}
.footer__social-box {
display: flex;
}
.footer__social-box img{
width: 20px;
height: 20px;
}
.footer__copyright{
margin-right: 30px;
}
.social-box__link{
margin-right: 30px;
}
.social-box__link--YT img{
width: 25px;
}
.footer__documents a {
margin-right: 30px;
}
.footer__documents a:nth-last-child(1) {
margin-right: 0;
}
.footer-box{
padding: 20px 0;
display: flex;
justify-content: flex-start;
align-items: center;
border-top: 1px rgba(41,41,41,.3) solid;
animation: fadeIn;
animation-duration: 1s;
}





/*login*/


#login{
	height: calc(100vh - 122px);
	padding-top: 122px;
}

#mylessons{
	height: calc(100vh - 122px);
	padding: 50px 0;
}
#typical{
	padding:50px 0;
	min-height: calc(100vh - 123px);
}
.benefit__item-descr{
	font-size: 16px;
	line-height: 24px;
	color: #808080;
	font-weight: 400;
	margin-top: 20px;
}



.cookie-alert{
	position: fixed;
	width: 96%;
	bottom: 2%;	
	left: 2%;
	background-color: #1A1A1A;
	padding:20px;
	border-radius: 10px;
	z-index: 15;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
.cookie-alert .white-txt{
	margin-bottom: 0;
	width: 85%;
}


/*ADAPTIIIIIIIIIV*/


@media (max-width: 1199px) {
	
}
@media (max-width: 991px) {
	.footer-box{
	flex-direction: column-reverse;
	}
	.footer__documents{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	order: 3;
	}
	.footer__documents a {
	margin-bottom: 10px;
	}
	.footer__social-box{
	order: 1;
	}
	.footer__copyright{
	order: 2;
	margin-bottom: 10px;
	margin-right: 70px;

	}
	.footer__copyright span{
	display: block;
	margin-right: 0;
	}
}
@media (max-width: 786px) {

}
@media (max-width: 767px) {
 
}
@media (max-width: 672px) {
	.anatation{
		text-align: center;
	}
}
@media (max-width: 512px) {
	.footer__documents{
	margin-top: 20px;
	}
	.footer-box{
	flex-wrap: wrap;
	padding: 0 20px 30px 0;
	align-items: flex-start;
	}
	#login{
		height: inherit;
		padding:60px 0;
	}
	.cookie-alert{
		flex-wrap: wrap;
	}
	.cookie-alert .white-txt{
		width: 100%;
		margin-bottom: 10px;
	}
	.cookie-alert button{
		margin:0;
		width: 100%;
	}
}
@media (max-width: 390px) {
	
}
@media (max-width: 320px) {

}








/* Remove outline on the forms and links */ 
:active, :hover, :focus { 
outline: 0!important; 
outline-offset: 0!important; 
}

button:active, button:hover, button:focus { 
outline: 0!important; 
outline-offset: 0!important; 
}


a{
	text-decoration: none!important;
}
a:hover{
	text-decoration: none!important;
}
a:focus{
	text-decoration: none!important;
}




.Password__strength-meter{
	margin: 0px auto 20px!important;
	background: #1b1b1b!important;
}
.Password__strength-meter:after, .Password__strength-meter:before{
	border-color: #121212!important;
}


input[type="text"]{
	font-size: 16px!important;
}

input[type="password"]{
	font-size: 16px!important;
}

